<div class = 'usuarios'>
    <h1><b>Users</b></h1>
    <h2><b>Perfil de usuario</b></h2>
    {{#each users}}
    
    <h2 class="users">Usuario: {{first_name}}, {{last_name}}</h2>
    {{/each}}
</div>

